<a href="https://colab.research.google.com/github/UswatunH06/Statmul/blob/main/Remedial_Uswatun_Hasanah_Statmul_MANOVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama   : Uswatun Hasanah

Nim    : 11220940000053

Kelas : 6B

Mata Kuliah : Statistika Multivariat

Remedial metode Manova

# **Pengaruh Status Sosial Ekonomi Orang Tua terhadap Nilai Akademik Siswa Menggunakan Metode MANOVA**

# Install dan Import Library

Dalam studi ini, peneliti ingin menguji apakah status sosial ekonomi orang tua berpengaruh terhadap nilai akademik siswa. Untuk keperluan analisis, peneliti membuat contoh kasus dengan menggunakan data yang dihasilkan secara acak (random). Status ekonomi orang tua diklasifikasikan ke dalam tiga kelompok, yaitu ekonomi rendah, menengah, dan tinggi. Selanjutnya, nilai siswa pada mata pelajaran Matematika, IPA, dan Bahasa Indonesia dibandingkan antar ketiga kelompok tersebut untuk melihat adanya perbedaan nilai berdasarkan status sosial ekonomi.

In [ ]:
!pip install pingouin

Collecting pingouin
  Downloading pingouin-0.5.5-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from pingouin) (3.10.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from pingouin) (2.0.2)
Requirement already satisfied: pandas>=1.5 in /usr/local/lib/python3.11/dist-packages (from pingouin) (2.2.2)
Collecting pandas-flavor (from pingouin)
  Downloading pandas_flavor-0.7.0-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: scikit-learn>=1.2 in /usr/local/lib/python3.11/dist-packages (from pingouin) (1.6.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.11/dist-packages (from pingouin) (1.15.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (from pingouin) (0.13.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.11/dist-packages (from pingouin) (0.14.4)
Requirement already satisfied: tabulate in /usr/local/lib/python3.11/dist-packages (from pingouin) (0.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.5->pingouin) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.5->pingouin) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.5->pingouin) (2025.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.2->pingouin) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.2->pingouin) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->pingouin) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->pingouin) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->pingouin) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->pingouin) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->pingouin) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib->pingouin) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->pingouin) (3.2.3)
Requirement already satisfied: xarray in /usr/local/lib/python3.11/dist-packages (from pandas-flavor->pingouin) (2025.3.1)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.11/dist-packages (from statsmodels->pingouin) (1.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.5->pingouin) (1.17.0)
Downloading pingouin-0.5.5-py3-none-any.whl (204 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 204.4/204.4 kB 3.8 MB/s eta 0:00:00
Downloading pandas_flavor-0.7.0-py3-none-any.whl (8.4 kB)
Installing collected packages: pandas-flavor, pingouin
Successfully installed pandas-flavor-0.7.0 pingouin-0.5.5

In [ ]:
import numpy as np
import pandas as pd
import pingouin as pg
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.multivariate.manova import MANOVA

##Manova

#Data generate random

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)  # supaya hasilnya bisa diulang

# Data 15 siswa per kelompok
kelompok = ['Ekonomi Rendah']*15 + ['Ekonomi Menengah']*15 + ['Ekonomi Tinggi']*15

# Nilai Matematika, dibulatkan dan dibatasi 0-100
nilai_mtk = np.random.normal(60, 10, 45).round().astype(int)
nilai_mtk = np.clip(nilai_mtk, 0, 100)

# Nilai IPA
nilai_ipa = np.random.normal(65, 10, 45).round().astype(int)
nilai_ipa = np.clip(nilai_ipa, 0, 100)

# Nilai Bahasa Indonesia
nilai_bindo = np.random.normal(70, 10, 45).round().astype(int)
nilai_bindo = np.clip(nilai_bindo, 0, 100)

# Buat DataFrame
data_manova = pd.DataFrame({
    'Kelompok': kelompok,
    'Nilai_Matematika': nilai_mtk,
    'Nilai_IPA': nilai_ipa,
    'Nilai_Bahasa_Indonesia': nilai_bindo
})

print(data_manova)

            Kelompok  Nilai_Matematika  Nilai_IPA  Nilai_Bahasa_Indonesia
0     Ekonomi Rendah                65         58                      71
1     Ekonomi Rendah                59         60                      80
2     Ekonomi Rendah                66         76                      63
3     Ekonomi Rendah                75         68                      67
4     Ekonomi Rendah                58         47                      66
5     Ekonomi Rendah                58         68                      55
6     Ekonomi Rendah                76         61                      73
7     Ekonomi Rendah                68         58                      73
8     Ekonomi Rendah                55         71                      70
9     Ekonomi Rendah                65         75                      68
10    Ekonomi Rendah                55         74                      56
11    Ekonomi Rendah                55         57                      66
12    Ekonomi Rendah                62         62                      67
13    Ekonomi Rendah                41         68                      62
14    Ekonomi Rendah                43         75                      68
15  Ekonomi Menengah                54         60                      74
16  Ekonomi Menengah                50         63                      89
17  Ekonomi Menengah                63         54                      72
18  Ekonomi Menengah                51         53                      73
19  Ekonomi Menengah                46         73                      69
20  Ekonomi Menengah                75         79                      51
21  Ekonomi Menengah                58         64                      70
22  Ekonomi Menengah                61         75                      71
23  Ekonomi Menengah                46         69                      95
24  Ekonomi Menengah                55         59                      68
25  Ekonomi Menengah                61         69                      73
26  Ekonomi Menengah                48         80                      70
27  Ekonomi Menengah                64         65                      58
28  Ekonomi Menengah                54         81                      81
29  Ekonomi Menengah                57         39                      78
30    Ekonomi Tinggi                54         73                      78
31    Ekonomi Tinggi                79         66                      61
32    Ekonomi Tinggi                60         62                      84
33    Ekonomi Tinggi                49         66                      56
34    Ekonomi Tinggi                68         45                      76
35    Ekonomi Tinggi                48         63                      92
36    Ekonomi Tinggi                62         69                      60
37    Ekonomi Tinggi                40         80                      64
38    Ekonomi Tinggi                47         60                      71
39    Ekonomi Tinggi                62         57                      65
40    Ekonomi Tinggi                67         60                      54
41    Ekonomi Tinggi                62         74                      71
42    Ekonomi Tinggi                59         68                      59
43    Ekonomi Tinggi                57         60                      75
44    Ekonomi Tinggi                45         70                      61

#Uji Normalitas Multivariat

In [ ]:
data_Rendah= data_manova.loc[data_manova['Kelompok']=='Ekonomi Rendah', ['Nilai_Matematika', 'Nilai_IPA', 'Nilai_Bahasa_Indonesia']]
data_Menengah = data_manova.loc[data_manova['Kelompok']=='Ekonomi Menengah', ['Nilai_Matematika', 'Nilai_IPA', 'Nilai_Bahasa_Indonesia']]
data_Tinggi = data_manova.loc[data_manova['Kelompok']=='Ekonomi Tinggi', ['Nilai_Matematika', 'Nilai_IPA', 'Nilai_Bahasa_Indonesia']]

In [ ]:
print('uji normalitas multivariat Ekonomi Rendah: ', pg.multivariate_normality(data_Rendah, alpha=0.05))
print('uji normalitas multivariat Ekonomi Menengah: ', pg.multivariate_normality(data_Menengah, alpha=0.05))
print('uji normalitas multivariat Ekonomi Tinggi: ', pg.multivariate_normality(data_Tinggi, alpha=0.05))

uji normalitas multivariat Ekonomi Rendah:  HZResults(hz=np.float64(8.48760121967042), pval=np.float64(4.338697743575299e-29), normal=False)
uji normalitas multivariat Ekonomi Menengah:  HZResults(hz=np.float64(8.48760121967042), pval=np.float64(4.338697743575299e-29), normal=False)
uji normalitas multivariat Ekonomi Tinggi:  HZResults(hz=np.float64(8.48760121967042), pval=np.float64(4.338697743575299e-29), normal=False)

karena pada ketiga data memiliki nilai p-value< 0.05, maka tolak H0 sehingga dapat disimpulkan data tidak berdistribusi normal multivariat. selanjutnya dilakukan transformasi pada data.

In [ ]:
#Transformasi
data_Rendah_trans = np.sqrt(data_Rendah)
data_Menengah_trans = np.sqrt(data_Menengah)
data_Tinggi_trans = np.sqrt(data_Tinggi)

In [ ]:
print('uji normalitas multivariat Ekonomi Rendah: ', pg.multivariate_normality(data_Rendah_trans, alpha=0.05))
print('uji normalitas multivariat Ekonomi Menengah: ', pg.multivariate_normality(data_Menengah_trans, alpha=0.05))
print('uji normalitas multivariat Ekonomi Tinggi: ', pg.multivariate_normality(data_Tinggi_trans, alpha=0.05))

uji normalitas multivariat Ekonomi Rendah:  HZResults(hz=np.float64(0.5189171608949689), pval=np.float64(0.5252585399896085), normal=True)
uji normalitas multivariat Ekonomi Menengah:  HZResults(hz=np.float64(0.4853756303871736), pval=np.float64(0.6297026456111352), normal=True)
uji normalitas multivariat Ekonomi Tinggi:  HZResults(hz=np.float64(0.40099501970110796), pval=np.float64(0.863499362333881), normal=True)

Setelah data diransformasi dilakukan uji normalisasi kembali, sehingga pada ketiga data didapat nilai p-value>0.05, maka terima H0. Sehingga dapat disimpulkan data berdistribusi normal multivariat.

#Uji Homogenitas

In [ ]:
#Gabungkan lagi datanya
data_trans_manova = pd.concat([data_Rendah_trans, data_Menengah_trans, data_Tinggi_trans])
data_trans_manova['Kelompok'] = data_manova['Kelompok'].copy()
data_trans_manova

    Nilai_Matematika  Nilai_IPA  Nilai_Bahasa_Indonesia          Kelompok
0           8.062258   7.615773                8.426150    Ekonomi Rendah
1           7.681146   7.745967                8.944272    Ekonomi Rendah
2           8.124038   8.717798                7.937254    Ekonomi Rendah
3           8.660254   8.246211                8.185353    Ekonomi Rendah
4           7.615773   6.855655                8.124038    Ekonomi Rendah
5           7.615773   8.246211                7.416198    Ekonomi Rendah
6           8.717798   7.810250                8.544004    Ekonomi Rendah
7           8.246211   7.615773                8.544004    Ekonomi Rendah
8           7.416198   8.426150                8.366600    Ekonomi Rendah
9           8.062258   8.660254                8.246211    Ekonomi Rendah
10          7.416198   8.602325                7.483315    Ekonomi Rendah
11          7.416198   7.549834                8.124038    Ekonomi Rendah
12          7.874008   7.874008                8.185353    Ekonomi Rendah
13          6.403124   8.246211                7.874008    Ekonomi Rendah
14          6.557439   8.660254                8.246211    Ekonomi Rendah
15          7.348469   7.745967                8.602325  Ekonomi Menengah
16          7.071068   7.937254                9.433981  Ekonomi Menengah
17          7.937254   7.348469                8.485281  Ekonomi Menengah
18          7.141428   7.280110                8.544004  Ekonomi Menengah
19          6.782330   8.544004                8.306624  Ekonomi Menengah
20          8.660254   8.888194                7.141428  Ekonomi Menengah
21          7.615773   8.000000                8.366600  Ekonomi Menengah
22          7.810250   8.660254                8.426150  Ekonomi Menengah
23          6.782330   8.306624                9.746794  Ekonomi Menengah
24          7.416198   7.681146                8.246211  Ekonomi Menengah
25          7.810250   8.306624                8.544004  Ekonomi Menengah
26          6.928203   8.944272                8.366600  Ekonomi Menengah
27          8.000000   8.062258                7.615773  Ekonomi Menengah
28          7.348469   9.000000                9.000000  Ekonomi Menengah
29          7.549834   6.244998                8.831761  Ekonomi Menengah
30          7.348469   8.544004                8.831761    Ekonomi Tinggi
31          8.888194   8.124038                7.810250    Ekonomi Tinggi
32          7.745967   7.874008                9.165151    Ekonomi Tinggi
33          7.000000   8.124038                7.483315    Ekonomi Tinggi
34          8.246211   6.708204                8.717798    Ekonomi Tinggi
35          6.928203   7.937254                9.591663    Ekonomi Tinggi
36          7.874008   8.306624                7.745967    Ekonomi Tinggi
37          6.324555   8.944272                8.000000    Ekonomi Tinggi
38          6.855655   7.745967                8.426150    Ekonomi Tinggi
39          7.874008   7.549834                8.062258    Ekonomi Tinggi
40          8.185353   7.745967                7.348469    Ekonomi Tinggi
41          7.874008   8.602325                8.426150    Ekonomi Tinggi
42          7.681146   8.246211                7.681146    Ekonomi Tinggi
43          7.549834   7.745967                8.660254    Ekonomi Tinggi
44          6.708204   8.366600                7.810250    Ekonomi Tinggi

In [ ]:
#Uji Homogenitas
pg.box_m(data_trans_manova, dvs=['Nilai_Matematika', 'Nilai_IPA', 'Nilai_Bahasa_Indonesia'], group='Kelompok')

          Chi2    df      pval  equal_cov
box  17.176948  12.0  0.143061       True

Karena nilai p-value = 0,143061>0,05 maka terima H0, sehingga dapat disimpulkan bahwa matriks variansi kovariansi homogen.

## MANOVA

In [ ]:
manova_model = MANOVA.from_formula('Nilai_Matematika + Nilai_IPA + Nilai_Bahasa_Indonesia ~ Kelompok', data=data_trans_manova)
manova_result = manova_model.mv_test()
print(manova_result)

                   Multivariate linear model
================================================================

----------------------------------------------------------------
       Intercept         Value   Num DF  Den DF  F Value  Pr > F
----------------------------------------------------------------
          Wilks' lambda   0.0030 3.0000 40.0000 4428.8442 0.0000
         Pillai's trace   0.9970 3.0000 40.0000 4428.8442 0.0000
 Hotelling-Lawley trace 332.1633 3.0000 40.0000 4428.8442 0.0000
    Roy's greatest root 332.1633 3.0000 40.0000 4428.8442 0.0000
----------------------------------------------------------------

----------------------------------------------------------------
            Kelompok        Value  Num DF  Den DF F Value Pr > F
----------------------------------------------------------------
              Wilks' lambda 0.9159 6.0000 80.0000  0.5986 0.7306
             Pillai's trace 0.0849 6.0000 82.0000  0.6059 0.7249
     Hotelling-Lawley trace 0.0909 6.0000 51.5932  0.5990 0.7298
        Roy's greatest root 0.0797 3.0000 41.0000  1.0892 0.3645
================================================================

Pada kasus ini,dari 4 statistik tersebut sama-sama memiliki p-value>0.05,
artinya terima H0. Maka dapat disimpulkan bahwa tidak terdapat perbedaan yang signifikan antara kelompok ekonomi terhadap nilai akademik siswa.

##Kesimpulan
Berdasarkan hasil analisis MANOVA, menunjukkan bahwa tidak terdapat perbedaan yang signifikan antara kelompok status sosial ekonomi orang tua berupa kelompok ekonomi rendah, menengah dan tinggi terhadap nilai akademik siswa berupa nilai Matematika, IPA dan Bahasa Indonesia siswa. Sehingga dapat disimpulkan bahwa status sosial ekonomi orang tua tidak berpengaruh signifikan terhadap nilai akademik siswa dalam penelitian ini.